{
  "parser": "babel-eslint",
  "extends": [
    "prettier-standard"
  ],
  "env": {
    "es6": true,
    "jest": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/jsx-boolean-value": 0,
    "import/first": 0,
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error"

  }
}
